**> 문자열 출력**

"" 큰따옴표 사용하여 문자열 출력

In [ ]:
a="My favorite sport is soccer."
print(a)

My favorite sport is soccer.

**> "" '' 둘 다 사용하여 문자열 출력**

"" 큰따옴표와 '' 작은따옴표 둘다 사용하여 문자열 출력

In [ ]:
a='One of says that I know, "No pain, No gain.".'
print(a)

One of says that I know, "No pain, No gain.".

**> 나눗셈 후 나머지를 출력해주는 %연산자**

%는 나눗셈의 나머지 값을 리턴하는 연산자이다.

In [17]:
a=7
b=3

print(a%b)

1

**> 나눗셈 후 몫을 출력해주는 //연산자**

나눗셈 후 몫을 리턴하는 // 연산자이다.

In [18]:
a=7
b=3

print(7//3)

2

**> 정수, 실수, 8진법, 16진법**

정수, 실수, 8진법, 16진법 출력 및 type 출력

- 8진법은 0o (숫자 0과, 영어o)로 시작.
- 16진법은 0x (숫자0과 영어x)로 시작.

In [ ]:
a=12
b=29.123
c=0o321
d=0xABC

print(a)
print(b)
print(c)
print(d)

print(type(a))
print(type(b))
print(type(c))
print(type(d))

12
29.123
209
2748
<class 'int'>
<class 'float'>
<class 'int'>
<class 'int'>

**> 사칙연산**

계산기와 같은 사칙연산의 순서에 맞게 출력됨

In [ ]:
a=11
b=23
c=12

result=a+b
print(result)

result=a+b*c
print(result)

result=(a+b)*c
print(result)

34
287
408

**> 문자열 더해서 연결하기/문자열 곱하기**

문자열끼리 더하거나 문자열을 곱해서 출력 가능

In [ ]:
a1="My life"
a2=" is so special."

text=a1+a2
print(text)

print("="*50)

My life is so special.
==================================================

**> f 문자열 포맷팅**

f 문자열 포맷팅으로 문자열 출력

In [ ]:
name="김이담"
age=30
height=175
gender="남자"

print(f"제 이름은 {name}이고 나이는 {age}이며,\n키는 {height}이고 성별은 {gender}입니다.")

제 이름은 김이담이고 나이는 30이며,
키는 175이고 성별은 남자입니다.

**> len함수 및 문자열 인덱싱과 슬라이싱**

- len함수로 문자열의 길이를 알 수 있음
- 문자열 인덱싱과 슬라이싱을 활용하여 원하는 문자열 출력 가능

In [10]:
text="Yesterday my nephew have been given birth. He is my first nephew in my life."

print(text)
print(len(text))
print(text[3])
print(text[0:3])
print(text[:10])
print(text[::])

Yesterday my nephew have been given birth. He is my first nephew in my life.
76
t
Yes
Yesterday
Yesterday my nephew have been given birth. He is my first nephew in my life.

**> 문자열 포매팅**

숫자, 문자 포매팅을 활용하여 문자열 출력 가능

In [16]:
#숫자 출력
number = 10

print("There are %d students in classroom." % number)

#문자 출력
age = 28

print("Our class's average age is %s years old." % age)

#2가지 내용 동시 출력
name = "Idam"
age = 30

print("My name is %s and %d years old." % (name, age))

There are 10 students in classroom.
Our class's average age is 28 years old.
My name is Idam and 30 years old.