**> 점수에 따른 등급 부여 문제**

학생들에게 점수에 따라서 등급을 부여하려고 한다.
90점 이상일 경우 A등급
80점 이상일 경우 B등급
70점 이상일 경우 C등급
70점 미만일 경우에는 D등급을 부여하는 코드를 작성하시오.

In [9]:
score = int(input("점수를 입력하세요."))

if score >= 90:
  print("A등급 입니다.")
elif score >= 80:
  print("B등급 입니다.")
elif score >= 70:
  print("C등급 입니다.")
else:
  print("D등급 입니다.")

점수를 입력하세요.90
A등급 입니다.

**> 더 큰 숫자 출력 문제**

사용자에게 정수 값을 2개 입력받아, 더 큰 숫자를 출력하고, 만약 같은 숫자라면 "같습니다."라는 문장을 출력하시오.

In [12]:
a = int(input("첫 번째 정수 값을 입력해주세요."))
b = int(input("두 번째 정수 값을 입력해주세요."))

if a > b :
  print(a)
elif a < b :
  print(b)
elif a == b :
  print("같습니다.")
else:
  print()

첫 번째 정수 값을 입력해주세요.1
두 번째 정수 값을 입력해주세요.1
같습니다.

**> 숫자에 따른 단위 부여 문제**

숫자가 1000이상이면, 백단위를 생략하고 K를 붙인다.

숫자가 1000000 이상이면, 십만 단위를 생략하고 M을 붙인다.

1,000 -> K

1,000,000 -> M

1,000,000,000 -> G
  - 입력 : 25000
  - 출력 : 25K

  - 입력 : 123500000
  - 출력 : 123M

In [114]:
i = int(input("숫자를 입력해주세요."))

if i > 1000000000:
  print((str(i//1000000000))+'G')
elif i > 1000000:
  print((str(i//1000000))+'M')
elif i > 10000 and i < 1000000:
  print((str(i//1000))+'K')
else:
  print()

숫자를 입력해주세요.1235498423135
1235G

**> 02장 되새김문제 Q-1**

**Q1 평균 점수 구하기**

홍길동 씨의 과목별 점수는 다음과 같다.
홍길동 씨의 평균 점수를 구해 보자.

국어 :80

영어 :75

수학 :55

In [14]:
a = 80
b = 75
c = 55

print((a+b+c)/3)

70.0

**Q2 홀수, 짝수 판별하기**

자연수 13이 홀수인지, 짝수인지 판별할 수 있는 방법에 대해 말해보자.

In [22]:
a = 13

if a % 2 == 0:
  print("짝수")
elif a % 2 == 1:
  print("홀수")
else:
  print()

홀수

**Q3 주민등록번호 나누기**

홍길동 씨의 주민등록번호는 881120-1068234이다.

홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

In [29]:
pin = "881120-1068234"
yyyymmdd = "19"+pin[:6]
num = pin[7:]
print(yyyymmdd)
print(num)

19881120
1068234

**Q4 주민등록번호 인덱싱**

주민등록번호 뒷자리의 맨 첫 번쨰 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

In [31]:
pin = " 881120-1068234"
print(pin[8])

1

**Q5 문자열 바꾸기**

다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔 출력해 보자.

In [33]:
a = "a:b:c:d"
b = a.replace(":","#")
print(b)

a#b#c#d

**Q6 리스트 역순 정렬하기**

[1,3,5,4,2] 리스트를 [5,4,3,2,1]로 만들어 보자.

In [36]:
a =[1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

**Q7 리스트를 문자열로 만들기**

['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.

In [47]:
a = ['Life', 'is', 'too', 'short']
result = ' '.join(a)
print(result)

Life is too short

**Q8 큐플 더하기**

(1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만든 후 출력해 보자.

In [51]:
a = (1,2,3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

**Q9 딕셔너리의 키**

다음과 같은 딕셔너리 a가 있다.

a = dict()
a
-> {}

다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.

a['name'] = 'phython'

a[('a',)] = 'phython'

a[[1]] = 'phython'

a[250] = 'phython'

In [57]:
a= dict()
a['name'] = 'phython'
a[('a',)] = 'phython'
a[[1]] = 'phython'      # 정수에 [] 괄호를 빼야 한다.
a[250] = 'phython'
a

{'name': 'phython', ('a',): 'phython', 1: 'phython', 250: 'phython'}

**Q10 딕셔너리 값 추출하기**

딕셔너리 a에서 'B'에 해당하는 값을 추출해 보자.

In [62]:
a = {'A':90, 'B':80, 'C':70}
result=a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

**Q11 리스트에서 중복 제거하기**

a 리스트에서 중복 숫자를 제거해 보자.

In [64]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

**Q12 파이썬 변수**

파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a,b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 나타나는 이유를 설명해 보자.

In [65]:
a = b = [1,2,3]
a[1] = 4
print(b)

# 이유설명 : a, b 모두 [1,2,3]이라는 리스트 변수값을 가지고 있기 때문이다.

[1, 4, 3]