**> 비교 연산자**

크기를 비교하는 비교 연산자에는 아래와 같은 종류가 있다.
- a > b : a는 b보다 크다
- a < b : a는 b보다 작다
- a == b : a는 b와 같다
- a != b : a는 b와 같지 않다
- a >= b : a는 b보다 크거나 같다
- a <= b : a는 b보다 작거나 같다

In [87]:
# 비교 연산자

a = 5

print("(a > 1)의 결과는?", a > 1)
print("(a < 1)의 결과는?", a < 1)
print("(a == 5)의 결과는?", a == 5)
print("(a != 1)의 결과는?", a !=1)
print("(a >= 2)의 결과는?", a >=2)
print("(a <= 5)의 결과는?",a<=5)

(a > 1)의 결과는? True
(a < 1)의 결과는? False
(a == 5)의 결과는? True
(a != 1)의 결과는? True
(a >= 2)의 결과는? True
(a <= 5)의 결과는? True

**> 논리 연산자**

논리 연산자에는 아래와 같은 종류가 있다.

- A and B : A,B 모두 참일 때 참이 된다
- A or B : A 또는 B 중 하나만 참이어도 참이 된다
- not A : A가 참일 때 결과는 거짓, A가 거짓일 때 결과는 참이 된다.

In [78]:
# 논리 연산자

a=5
b=10

print("(a > 1 and b < 10)의 결과는?", (a > 1 and b < 10))

print("(a > 1 or b < 10)의 결과는?", (a > 1 or b < 10))

(a > 1 and b < 10)의 결과는? False
(a > 1 or b < 10)의 결과는? True

**> list 자료형**

모든 종류의 자료형을 자유롭게 묶어서 사용할 수 있는 자료형

In [ ]:
#비어 있는 리스트 생성
a=list()
a=[]

#리스트를 직접 선언
b=[1,"문자열", -0.5, '안녕']

**> 리스트 인덱싱**

In [25]:
a = [1,2,3] # 문자열처럼 인덱싱 적용 가능
print(a)

print(a[0]) # 리스트 a의 첫 번째 요솟값

print(a[0] + a[2]) # 리스트의 첫 번째 요솟값인 a[0]와 세 번째 요솟값인 a[2]의 값을 더함
                   # 1 + 3 = 4

b = [1,2,3,['a', 'b', 'c']] # 리스트 안에 또 다른 리스트를 포함하도록 만듬
print(b)

print(b[0])

print(b[-1]) # 하나의 요솟값인 ['a','b','c']를 나타냄

print(b[3])

[1, 2, 3]
1
4
[1, 2, 3, ['a', 'b', 'c']]
1
['a', 'b', 'c']
['a', 'b', 'c']

**> 삼중 리스트 인덱싱**

In [26]:
a = [1,2,['a','b',['python', 'is']]]
print(a)    # 삼중 구조의 리스트

print(a[2][2][0]) # 'python' 문자열만 끄집어 냄

[1, 2, ['a', 'b', ['python', 'is']]]
python

**> 리스트 슬라이싱**

In [28]:
a = [1,2,3,4,5]
print(a[0:2]) # 문자열과 만찬가지로 리스트에서도 슬라이싱 기법 사용 가능

a= [1,2,3,['a','b''c'], 4, 5]   # 중첩된 리스트에서도 슬라이싱 기법 사용 가능
print(a)

print(a[2:5]) # a[2]부터 a[4]까지

print(a[3][:2])   # ['a','b','c']의 처음부터 두 번째 요소까지

[1, 2]
[1, 2, 3, ['a', 'bc'], 4, 5]
[3, ['a', 'bc'], 4]
['a', 'bc']

**> 리스트 덧셈과 곱셈**

In [2]:
a=[4,5,6]
b=[7,8,9]

#리스트 덧셈
c = a+b
print(c)

#리스트 곱셈
print(a*3)
print(b*4)

[4, 5, 6, 7, 8, 9]
[4, 5, 6, 4, 5, 6, 4, 5, 6]
[7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9]

**> 리스트 값 수정하기**

In [31]:
a = [1,2,3]
a[2] = 4
print(a) # a[2]의 값이 4로 수정된 것을 알 수 있다.

[1, 2, 4]

**> 리스트 추가 및 삭제**

- 추가 : .append() 함수를 사용
- 삭제 : del키워드 사용

In [4]:
a=[1,2,3,4,5]
print(a)

del a[2:]
print(a)

# 리스트의 추가는 리스트의 맨 뒤에 추가됨.
# 추가할 때는 하나의 요소만 추가 가능
a.append(4)
print(a)
a.append([5,6,7,8])
print(a)

[1, 2, 3, 4, 5]
[1, 2]
[1, 2, 4]
[1, 2, 4, [5, 6, 7, 8]]

**> 리스트 정렬 - sort**

In [35]:
a = [5,7,8,1]
a.sort()    # 리스트의 요소를 순서대로 정렬해 준다.
print(a)

b = ['n','h','z','p']
b.sort()    # 문자 역시 순서대로 정렬해 준다.
print(b)

[1, 5, 7, 8]
['h', 'n', 'p', 'z']

**> 리스트 뒤집기 - reverse**

In [38]:
a = ['b','c','a']
a.reverse()   # 리스트를 역순으로 뒤집어 준다. 이 때, 리스트를 순서대로 정렬 후 역순으로 정렬하는 것이 아닌 그대로 뒤집어 준다.
print(a)

['a', 'c', 'b']

**> 인덱스 반환 - index**

In [5]:
a=[1,2,3,4,5,1]
print(a.index(3))
print(a.index(1)) # 중복되는 요소는 가장 앞에 있는 요소를 나타냄.

2
0

**> 리스트의 원하는 위치에 요소 삽입 - insert**

In [6]:
a=[1,2,3,4,5]
print(a)

a.insert(2, 6)
print(a)

[1, 2, 3, 4, 5]
[1, 2, 6, 3, 4, 5]

**> 리스트 요소 제거 - remove**

In [40]:
a=[1,2,3,1,4,5]
print(a)

a.remove(1) # 중복된 값이 있을 때, 첫 번째 값만 제거한다.
print(a)

a.remove(1) # 한 번 더 실행 시, 두 번째 중복된 값을 제거한다.
print(a)

a.remove(3)
print(a)

[1, 2, 3, 1, 4, 5]
[2, 3, 1, 4, 5]
[2, 3, 4, 5]
[2, 4, 5]

**> 리스트 요소 추출 - pop**

- 리스트의 맨 마지막 요소를 리턴하고 그 요소를 삭제한다.

In [9]:
a=[1,2,3,4,5]
print(a)

b=a.pop(2)    # pop함수를 통해 2번인덱스(3)을 추출하여 변수 b에 저장
print(a)
print(b)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]
3

**> 리스트에 포함된 요소 x의 개수 세기 - count**

In [10]:
a=[1,2,3,4,5,1,2,2,4,5,13]
print(a)

print(a.count(1))

[1, 2, 3, 4, 5, 1, 2, 2, 4, 5, 13]
2

**> 튜플 자료형**

- 리스트와 마찬가지로, 모든 자료형을 담을 수 있는 자료형.
- 튜플은 한 번 생성하면 값의 변경, 삭제가 불가능하다.
- 튜플은 요솟값을 변경할 수 없기 때문에 sort, insert, remove, pop과 같은 내장 함수를 사용할 수 없다.

In [47]:
# 모든 자료형을 담을 수 있는 자료형.
a=(1,2,3,('phython','is','good',(4,5,6)))
print(a)

# 인덱싱하기
b=a[0]
print(b)

# 슬라이싱하기
c=a[1:]
print(c)

# 튜플 더하기

t1 = (1,'a')
t2 = (3,4)
t3 = t1 + t2
print(t3)

# 튜플 곱하기
t4 = t1 * 2
print(t4)

# 튜플 길이 구하기
len(a)

(1, 2, 3, ('phython', 'is', 'good', (4, 5, 6)))
1
(2, 3, ('phython', 'is', 'good', (4, 5, 6)))
(1, 'a', 3, 4)
(1, 'a', 1, 'a')

4

**> 딕셔너리 자료형**

- 순차적으로 접근하지 않고, 오직 Key를 통해서 Valuer값에 접근
- 순서가 없기 때문에, 인덱싱 및 슬라이싱이 불가능하다.
- Key값은 고유한 값이므로, 중복되는 Key값을 사용하면 안됨

In [48]:
dic = {'사과': 'apple', '바나나' : 'banana',  '멜론' : 'melon'}
print(dic)
dic1 = {1:'hello', 2:[1,2,3]}
print(dic1)

{'사과': 'apple', '바나나': 'banana', '멜론': 'melon'}
{1: 'hello', 2: [1, 2, 3]}

**> 딕셔너리 요소 추가**

In [50]:
a={1:'a'}
a[2]='b'  # {2:'b'} 추가
print(a)

a['hobby']='soccer'   # {'hobby':'soccer} 추가
print(a)

{1: 'a', 2: 'b'}
{1: 'a', 2: 'b', 'hobby': 'soccer'}

**> 딕셔너리 요소 삭제**

- del 함수를 이용해 요소를 삭제할 수 있다.

In [51]:
a={1: 'a', 2: 'b', 'hobby': 'soccer'}
del a[1]    # Key가 1인 {1:'a'} 쌍 삭제
print(a)

{2: 'b', 'hobby': 'soccer'}

**> 딕셔너리에서 Key를 이용해 Value 얻기**

In [56]:
name1 = {'Gildong':10, 'Yidam':30, 'Grace':15}
print(name1['Yidam'])   # Key가 'Yidam'인 딕셔너리의 Value를 반환

dic = {'name' : 'Idam', 'phone' : '010-0000-0000', 'birth' : '0810'}
print(dic['name'])
print(dic['phone'])
print(dic['birth'])   # Key를 사용하여 Value를 쉽게 얻을 수 있음

30
Idam
010-0000-0000
0810

**> 딕셔너리 관련 함수**

- .keys()
- .values()
- .items()
- .clear()
- .get()
- in

In [68]:
# .keys() 함수
dic = {'name' : 'Idam', 'phone' : '010-0000-0000', 'birth' : '0810'}
print(dic.keys())   # key만 얻고 싶을 때 사용

# .values() 함수
print(dic.values())   # value만 얻고 싶을 때 사용

# .items() 함수
print(dic.items())    # key와 value의 쌍을 튜플로 묶은 값을 나타내고 싶을 때 사용

# .get() 함수
print(dic.get('phone'))   # 해당 key와 대응되는 value 값을 리턴한다.

# in
print('name' in dic)    # 딕셔너리 중에 해당 key가 존재한다면 True,

print('hobby' in dic)   # 존재하지 않는다면 False를 출력한다.

# .clear() 함수
print(dic.clear())   # 딕셔너리 안의 모든 요소를 삭제

dict_keys(['name', 'phone', 'birth'])
dict_values(['Idam', '010-0000-0000', '0810'])
dict_items([('name', 'Idam'), ('phone', '010-0000-0000'), ('birth', '0810')])
010-0000-0000
True
False
None

**> 집합 자료형**

- 중복을 허용하지 않는다
- 순서가 없다

In [17]:
s1 = set([1,2,3,3,2])
s2 = set("I am a boy")
s3 = set([1,5,6])
print(s1)
print(s2)
print(s3)

# 집합의 인덱싱을 사용하기 위해 리스트로 변환하는 과정을 거쳐야한다.
i = list(s1)
print(i)
print(i[0])

{1, 2, 3}
{' ', 'y', 'a', 'b', 'm', 'I', 'o'}
{1, 5, 6}
[1, 2, 3]
1

**> 교집합, 합집합, 차집합**

In [71]:
# 교집합 구하기
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

print(s1&s2)

# 합집합 구하기
print(s1|s2)

# 차집합 구하기
print(s1 - s2)

{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}

**> 집합 자료형 관련 함수**

- 값 1개 추가하기 : .add()
- 값 여러개 추가하기 : .update()
- 특정 값 제거하기 : .remove()

In [75]:
# add() 함수
s1 = set([1,2,3])
s1.add(4)   # set 자료형에 값을 추가할 수 있음.
print(s1)

# update() 함수
s1.update([4,5,6])    # 여러 개의 값을 한꺼번에 추가할 수 있음.
print(s1)

# remove()
s1.remove(2)    # 특정 값을 삭제할 수 있음.
print(s1)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 3, 4, 5, 6}